[submodule "src/TelebotDDSCore"]
	path = src/TelebotDDSCore
	url = https://github.com/FIUDiscoveryLab/TelebotDDSCore.git
[submodule "ThirdParty"]
	path = ThirdParty
	url = https://github.com/FIUDiscoveryLab/JSSC.git
